{% if errors is not empty %}
	<div class="alert alert-danger">
		{% for error in errors %}
			<div>{{error}}</div>
		{% endfor %}
	</div>
{% endif %}

{% if uploadedErrors is not empty %}
	<div class="alert alert-danger">
		{% for uploadedError in uploadedErrors %}
			<div>{{ uploadedError }}</div>
		{% endfor %}
	</div>
{% endif %}

<div class="container align-items-center d-flex flex-column mb-4 mt-5">

	<form method="post" enctype="multipart/form-data" class="edit">

		<div class="form-group mb-3">
			<label for="gender" class="form-label">Civilité</label>
			<select name="gender" id="gender" class="form-control">
				<option value="defaultValue" disabled selected>Choisir un genre</option>
				<option value="M.">M.</option>
				<option value="Mme.">Mme</option>
			</select>
		</div>

		<div class="form-group mb-3 pt-3">
			<label for="lastname" class="form-label">Nom</label>
			<input type="text" value="{{ member.lastname }}" name="lastname" id="lastname" class="form-control" required>
		</div>

		<div class="form-group mb-3 pt-3">
			<label for="firstname" class="form-label">Prénom</label>
			<input type="text" value="{{ member.firstname }}" name="firstname" id="firstname" class="form-control" required>
		</div>

		<div class="form-group mb-3 pt-3">
			<label for="job" class="form-label">Rôle</label>
			<input type="text" value="{{ member.job }}" name="job" id="job" class="form-control" required>
		</div>

		<div class="form-group mb-3">
			<label for="image" class="form-label">Image</label>
			<input type="file" name="image" id="image" class="form-control">
		</div>

		<div class="d-flex justify-content-center align-items-center align-self-center m-5 flex-column flex-sm-row">
			<a href="/admin/membres" class="btn-lg link-secondary text-secondary"> < Retour</a>
			<button class="btn btn-lg btn-success button-form mx-5 px-5">{{ button_name|default('Ajouter')}}</button>
		</div>
	</form>
</div>
