{% if errors is not empty %}
	<div class="alert alert-danger">
		{% for error in errors %}
			<div>{{error}}</div>
		{% endfor %}
	</div>
{% endif %}

<div class="container justify-content-center d-flex mb-4 mt-5">

	<form method="post">

		<div class="form-group mb-3 pt-3">
			<label for="name" class="form-label">Nom</label>
			<input type="text" value="{{ cat.name }}" name="name" id="name" class="form-control" required>
		</div>
		<div class="form-group mb-3">
			<label for="birth_date" class="form-label">Date de naissance</label>
			<input type="date" value="{{ cat.birth_date }}" name="birth_date" id="birth_date" class="form-control">
		</div>
		<div class="form-group mb-3">
			<label for="gender" class="form-label">Genre</label>
			<select name="gender" id="gender" class="form-control">
				{% for gender in genders %}
					<option value="{{ gender.name }}">{{ gender.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-group mb-3">
			<label for="color" class="form-label">Couleur</label>
			<select name="color" id="color" class="form-control">
				{% for color in colors %}
					<option value="{{ color.name }}">{{ color.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-group mb-3">
			<label for="breed" class="form-label">Race</label>
			<select name="breed" id="breed" class="form-control">
				{% for breed in breeds %}
					<option value="{{ breed.name }}">{{ breed.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-group mb-3">
			<label for="fur" class="form-label">Poil</label>
			<select name="fur" id="fur" class="form-control">
				{% for furr in furrs %}
					<option value="{{ furr.length}}">{{ furr.length }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-group mb-3">
			<label for="adoption_date" class="form-label">Date d'adoption (le cas échéant)</label>
			<input type="date" value="{{ cat.adoption_date }}" name="adoption_date" id="adoption_date" class="form-control">
		</div>

		<div class="form-group mb-3">
			<label for="description" class="form-label">Description</label>
			<textarea name="description" id="description" class="form-control"></textarea>
		</div>

		<div class="d-flex justify-content-center m-5">
			<button class="btn btn-lg btn-success button-form px-5">Ajouter</button>
		</div>
	</form>
</div>
