{% extends 'layoutAdmin.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/style-admin.css">
	<link rel="stylesheet" href="/assets/css/admin-show.css">
{% endblock %}

{% block title %}
	Admin - Chats -	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="banner"></div>
	<div class="title">
		<h1 class="pt-3">Admin / Chats</h1>
	</div>
	<div class="container-sm">

		<div class="row my-4 py-2 text-center header">
			<div class="col-md-1">
				<a href="/admin/chat/ajouter" class="btn btn-add d-flex ms-4  justify-content-center  fs-6 btn-lg">Ajouter</a>
			</div>
			<div class="col-md-3 fs-3 d-flex justify-content-center align-items-center">Nom</div>
			<div class="col-md-3 fs-3 d-flex justify-content-center align-items-center">Date de naissance</div>
			<div class="col-md-5 fs-3 d-flex justify-content-center align-items-center">Modifier / Supprimer</div>
		</div>

		{% for cat in cats %}
			<div class="row my-4 mx-0 py-2 text-center member">

				<div class="col-md-1">
					<img src={% if cat.image is not empty %} "/uploads/{{ cat.image }}" {% else %} "/assets/images/cat-profil.svg" {% endif %} class="avatar mt-1" alt="cat image">
				</div>

				<div class="col-md-3 fs-3 d-flex justify-content-center align-items-center">
					{{ cat.name }}
				</div>
				<div class="col-md-3 d-flex justify-content-center align-items-center fs-3">
					{{ cat.birth_date }}
				</div>
				<div class="col-md-5 fs-3 d-flex justify-content-center align-items-center">
					<a href="/admin/chat/editer?id= {{ cat.id }}" class="btn btn-lg btn-edit d-flex fw-bold me-3 fs-6">Éditer</a>
					<form method="POST" action="/admin/chat/supprimer">
						<input type="hidden" name="id" value="{{ cat.id }}">
						<button class="btn btn-lg btn-delete d-flex fw-bold fs-6">Supprimer</button>
					</form>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
