<div class="container-sm">
	<div class="row">
		<div class="col-xl-12">
			<div class="card card-cat mb-3">
				<img class="card-img-top" src="/assets/images/uploads/{{cat.image}}" alt="Card image cap">
				<div class="card-body">
					<h3 class="card-title text-center"><img class="logo paw" src="/assets/images/paw.svg" alt="paw">{{cat.name}}</h3>
					<div class="card-text description d-flex flex-column justify-content-start">
						<ul class = "d-flex flex-row justify-content-around">
							<li>{{cat.birth_date}}</li>
							<li>{{cat.gender}}</li>
                            <li>{{cat.color}}</li>
                            <li>{{cat.breed}}</li>
                            <li>{{cat.fur}}</li>
						</ul>
                        <p>{{cat.description}}</p>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
