{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ Cat.name }}</h1>
    <p>{{ selectedCat.birth_date}}</p>
    <p>{{ selectedCat.color}}</p>
    <p>{{ selectedCat.length}}</p>
    <p>{{ selectedCat.gender}}</p>    
    <p>{{ selectedCat.description}}
    AHH
  
{% endblock %}
