{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/form.css" type="text/css">
{% endblock %}

{% block title %}
	Contact - {{ parent() }}
{% endblock %}

{% block content %}
	{% include 'Contact/_banner-contact.html.twig' %}
	<body>
		<div class="container">
			{% if errors is not empty %}
				<div class="alert alert-danger">
					{% for error in errors %}
						<div>{{error}}</div>
					{% endfor %}
				</div>
			{% endif %}
			<div class="row">
				<div class="col-md-5 fs-5">
					<div class="form_coordinates_title mt-5 mb-5 rounded-3">
						<h2>Formulaire</h2>
					</div>
					<div class="form_coordinates_title mt-2">
						<p>Vos coordonnées :</p>
						<div class="form_box rounded-3 d-print-inline-block col-md-10 p-3">
							<form method="POST">
								<div class="form-group">
									<label for="lastname" class="form-label pt-2 mb-0">Nom :</label>
									<input type="text" id="lastname" class="form-control" name="lastname" value="{{ cat.lastname }}" placeholder="Dupont" required/>
								</div>
								<div class="form-group">
									<label for="firstname" class="form-label mt-3 mb-0">Prénom :</label>
									<input type="text" id="firstname" class="form-control" name="firstname" value="{{ cat.firstname }}" placeholder="Eric" required/>
								</div>
								<div class="form-group">
									<label for="phone" class="form-label mt-3 mb-0">Numéro de Téléphone :</label>
									<input type="tel" id="tel" class="form-control" type="tel" name="tel" value="{{ cat.tel }}" placeholder="02 38 52 77 82" required/>
								</div>
								<div class="form-group">
									<label for="e-mail" class="form-label mt-3 mb-0">Mail :</label>
									<input type="email" id="email" class="form-control mb-3" name="e-mail" value="{{ cat.email }}" placeholder="eric.dupont@gmail.com" required/>
								</div>
							</div>
						</div>
						<div class="form-group_message mb-5">
							<div class="form_coordinates_title col mt-4 mb-0">
								<p>Votre message :</p>
							</div>
							<div class="form_subject rounded-3 d-print-inline-block col-md-10 p-3">
								<div class="card_02">
									<div form="form-group subject">
										<label class="col-form mt-2 mb-0 form-group" for="subject">Sujet :</label>
										<select id="subject" name="subject" class="form-control form-group" required>
											<option value="subject" disabled selected>-- Choisir un champ --</option>
											<option value="une question">Une question</option>
											<option value="un renseignement">Un renseignement</option>
											<option value="une adoption" {{cat.name is defined ? 'selected' : ''}}>Une adoption</option>
											<option value="une visite">Une visite</option>
										</select>
										<label for="message" class="col-form form-group mt-3 mb-0">Message :</label>
										<textarea id="message" name="message" class="col-10 pr-2 pl-2 form-control mb-0" placeholder="Insérer votre message :" required>
											{% if cat.name is defined %}Bonjour, je suis intéréssé par {{cat.name}}, numéro de puce : {{cat.digital_chip}} et j'aimerais être recontacté pour connaître les démarches à suivre pour son adoption. Merci d'avance. {% endif %}
										</textarea>
										<div class="button d-flex align-items-end flex-column mx-4">
											<button type="submit" class="btn btn-light mb-2 mt-4">Envoyer</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-2 d-flex align-items-center">
					<img class="separator mt-5 d-none d-md-block" src="/assets/images/separator2.svg" alt="separator">
				</div>
				<div class="coordinates col-md-5 fs-5">
					<div class="form_coordinates_title mt-5 mb-5">
						<h2>Nos coordonnées</h2>
					</div>
					<div class="apclo_coordinates rounded-3">
						<p class="fw-bold">APCLO - Association pour la Protection des Chats Libres d'Orléans</p>
						<p class="adress d-flex"><img src="/assets/images/adress.png" class="icon-adress ms-2 me-4" alt="icon-adress">44 Av. Roger Secrétain</p>
						<p class="postal">45100 Orléans</p>
						<p class="phone"><img src="/assets/images/phone.png" class="icon-phone me-3" alt="icon-phone">06 72 56 18 41</p>
					</div>
					<div class="row">
						<div class="col-md-5 fs-5 ratio ratio-1x1">
							<iframe class="col-md-5 fs-5 rounded-3 d-flex map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.8933042883872986%2C47.889215485037845%2C1.896496117115021%2C47.890582402149725&amp;layer=mapnik&amp;marker=47.889898948103585%2C1.8949002027511597"></iframe>
							<br/>
						</small>
					</div>
				</div>
			</div>
		</div>
	</body>
</div>
{% endblock %}
